.main-body {
  margin: 0;
  padding: 0;
  font-family: "Exo", "Exo2-Regular", sans-serif;
  background-color: @background-color;
}

.wrapper {
  padding: 0 10% 0 10%;
}

.main-header {
  color: #ffff;
  display: flex;
  padding: 0 10% 0 10%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: rgb(24,24,24);
  background: linear-gradient(90deg, rgba(24,24,24,0.8830882694874825) 15%, rgba(1,1,0,0.9054972330729166) 75%);
  height: 10%;
}

.main-header__profile {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-header__heading {
  width: 20%;

  @media (max-width: @mobile-width) {
    width: 20%;
  }
}

.main-header__username {
  font-size: 20px;
  padding: 15px;
  color: #FFFFFF;
  text-decoration: none;

  @media (max-width: @mobile-width) {
    font-size: 14px;
  }
}

.main-header__photo {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    margin: 0 0 0 10px;
  }
}

.main-header__mini-menu {
  display: none;
  position: absolute;
  z-index: 10;
  right: 10%;
  top: 40px;
  background-color: @input-color;
  list-style: none;
  width: 120px;
  margin: 0;
  padding-right: 20px;

  @media (min-width: @desktop-width) {
    width: 200px;
    padding-right: 0;
    top: 70px;
  }
}

.main-header__mini-item {
  line-height: 30px;
  background-image: url("../img/pen-mob.svg");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 20px;
  font-size: 12px;main-menu__list
  font-weight: bold;
  border-bottom: 1px solid @hr-color;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    padding-left: 25px;
    border: none;
  }
}

.main-header__mini-href {
  text-decoration: none;
  color: #000000;
}

.main-header__mini-item--banner {
  border-bottom: none;
}

.main-header__mini-item:hover {
  cursor: pointer;
  background-color: @input-color;
}

.main-header__mini-item--apps {
  background-image: url("../img/apps.svg");
  border-bottom: 1px solid @hr-color;

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.main-header__mini-item--videos {
  background-image: url("../img/videos.svg");
  border-bottom: 1px solid @hr-color;

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.main-header__mini-item--sets {
  background-image: url("../img/sets.svg");
}

.main-header__mini-item--logout {
  background-image: url("../img/exit.svg");
  background-size: 8%;
  background-repeat: no-repeat;
}

.main-header__photo--logout-box {
  margin: 10px 0 10px 10px;
  width: 20px;
  height: 20px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-header__photo--logout {
  width: 20px;
  height: 20px;
}

.main-header__photo--logout:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.main-header__profile:hover .main-header__photo{
  border: 3px solid @main-color;
  color: @main-color;
}

.main-menu__list {
  padding: 0 0 0 10%;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  @media (min-width: @desktop-width) {
    width: 40%;
    padding: 0 0 0 10%;
  }
}

.main-menu__item {
  padding: 0;
  margin-right: 14px;
}

.main-menu__item--notions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-menu__notion {
  margin-left: 5px;
  text-align: center;
  vertical-align: center;
  font-size: 14px;
  background-color: @main-color;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.main-menu__icon {
  margin-left: 5px;
  width: fit-content;
}

.main-menu__item--active {
  border-bottom: 2px solid #0F0C34;
}

.main-menu__default {
  text-decoration: none;
  color: #242424;
  font-weight: bold;
  font-size: 12px;

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.main-menu__default:hover {
  text-decoration: underline;
}
