.page-footer {
  padding-top: 40px;
  background: rgb(24,24,24);
  background: linear-gradient(90deg, rgba(24,24,24,0.8830882694874825) 15%, rgba(1,1,0,0.9054972330729166) 75%);
  height: 10vw;
  text-align: center;
  text-transform: uppercase;
  font-size: 19px;

  @media (max-width: @mobile-width) {
    height: 180px;
  }
}

.page-footer__text {
  position: fixed;
  bottom: 0;
  margin: 20px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;

  @media (max-width: @mobile-width) {
    font-size: 15px;
    margin-top: 20px;
  }
}
